<md-grid-list cols="4" rowHeight="0.6:1">
  <md-grid-tile>
        <md-card class="example-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Surya S/O Krishnan</md-card-title>
            <md-card-subtitle>Surya</md-card-subtitle>
          </md-card-header>
           <img md-card-image src="../../assets/Images/surya.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              Suriya plays dual lead roles, with Simran, Sameera Reddy and Divya Spandana. ... It was dubbed and   released in Telugu as Surya s/o Krishnan. The film illustrates the theme of how a father often came across his son's life as a hero.
            </p>
          </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
  </md-grid-tile>
  <md-grid-tile>2</md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>
