md-grid-tile {
  background: lightblue;
}
.example-header-image {
  background-image: url('../../assets/Images/surya.jpg');
  background-size: cover;
}
.example-card{
  width: 350px;
}
.np1{
  width: 300px;
  height: 300px;
  padding-left: 25px;
  border-radius: 18%;
}
