/*

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f44336;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  width: 100%;

}

li {
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
.example-sidenav {
  padding: 70px;
  background-color: #f44336;
}
*/

.navbar {
  overflow: hidden;
  background-color: #f44336;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar a, p{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}
.example-sidenav {
  padding: 70px;
  background-color: #f44336;
}
