<ul>
  <li><button md-raised-button><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</button></li>
  <li><button md-raised-button><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;My channel</button></li>
  <li><button md-raised-button><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;Trending</button></li>
  <li><button md-raised-button><i class="fa fa-bell" aria-hidden="true"></i>&nbsp;Subscription</button></li>
  <li><button md-raised-button><i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;Get Red</button></li>
  <li><button md-raised-button><i class="fa fa-television" aria-hidden="true"></i>&nbsp;Get Tv</button></li>
  <hr/>
  <li><button md-raised-button><i class="fa fa-history" aria-hidden="true"></i>&nbsp;History</button></li>
  <li><button md-raised-button><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Liked</button></li>
</ul>
